body {
  font-family: 'Karla', sans-serif;
  color: hsl(270, 9%, 17%);
  margin: 0;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

nav {
  height: 70px;
  padding: 0 170px;
}

footer {
  background-color: hsl(0, 0%, 98%);
}

h2,
h3 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.white-text {
  color: #fff;
}

/* header */

.logo {
  display: inline-block;
  height: 100%;
}

.logo img {
  margin: 26px 26px 26px 0;
}

.menuToggle {
  position: relative;
  user-select: none;
  float: right;
  margin: 14px 0 14px 14px;
}

.menuToggle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuToggle li {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 0.1em;
}

li.View-plans-btn {
  padding-right: 0;
}

.menu-btn a {
  display: block;
  color: hsl(273, 4%, 51%);
}

.menu-btn a:hover {
  color: hsl(270, 9%, 17%);
}

.View-plans-btn a {
  border: 1px solid hsl(270, 9%, 17%);
  color: hsl(270, 9%, 17%);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}

.View-plans-btn a:hover {
  background-color: hsl(270, 9%, 17%);
  color: #fff;
  border: 1px solid hsl(270, 9%, 17%);
  cursor: pointer;
}

.menuToggle input {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menuToggle input:checked~img {
  content: url("images/icon-close.svg");
}

.menuToggle img {
  display: none;
}

@media screen and (max-width: 1260px) {

  nav {
    padding:0;
  }

  .logo img {
    margin-left: 70px;
  }

  #menu {
    display: none;
    width: 335px;
    height: 420px;
    right: -19px;
    top: 51px;
    position: absolute;
    background-color: hsl(270, 9%, 17%);
    text-align: center;
    padding: 20px;
  }

  .bg-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .menuToggle {
    margin: 19px 70px;
  }

  .menuToggle img {
    display: block;
    float: right;
  }

  .menuToggle input {
    display: block;
    float: right;
  }

  .menuToggle li {
    display: block;
    padding: 15px;
  }

  .menuToggle li:hover {
    border: 1px solid #FFF;
  }

  .View-plans-btn {
    border: 1px solid #FFF;
  }

  .menuToggle a {
    color: #fff;
  }

  .menu-btn a:hover {
    color: #fff;
  }

  .menuToggle input:checked~#menu {
    display: block;
  }
}

@media screen and (max-width: 765px) {
  .menuToggle {
    margin: 19px 20px;
  }

  .logo img {
    margin-left: 20px;
  }
}

/* intro main */

#intro {
  position: relative;
  top: 70px;
  background-color: hsl(256, 26%, 20%);
  padding: 100px 170px;
}

#intro article {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

.intro-title {
  font-size: 4.5rem;
  line-height: 1em;
}

#intro .intro-img {
  float: right;
  width: 50%;
}

.intro-img img {
  width: 100%;
}

#intro hr {
  display: inline-block;
  width: 170px;
  border: 1px solid hsl(273, 4%, 51%);
  margin-bottom: 50px;
}

#intro p {
  line-height: 1.5em;
  margin: 40px 0;
}

#intro a {
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 30px;
}

.intro-left-img {
  position: absolute;
  left: 0;
  bottom: -120px;
}

.intro-right-img {
  position: absolute;
  right: 0;
  top: -50px;
}

@media screen and (max-width: 1260px) {
  #intro {
    padding: 70px;
  }

  .intro-img img{
    content: url("images/image-intro-mobile.jpg");
  }

  .intro-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 900px) {
  #intro {
    padding: 30px;
  }

  .intro-title {
    font-size: 3rem;
  }
}

  .intro-left-img {
    width: 10%;
  }

  .intro-right-img {
    width: 20%;
  }

@media screen and (max-width: 765px) {
  #intro {
    padding: 0;
    text-align: center;
    display: flex;    
    flex-direction: column;
  }

  #intro article {
    position: relative;
    padding: 150px 20px;
    width: 100%;
    order: 2;
  }

  #intro hr {
    display: none;
  }

  #intro .intro-img {
    width: 100%;
    order: 1;
  }

  #intro img {
  }

  .intro-title {
    font-size: 3rem;
  }

  .intro-left-img {
    content: url("images/bg-pattern-intro-left-mobile.svg");
    top: 0;
    width: 50%;
  }

  .intro-right-img {
    content: url("images/bg-pattern-intro-right-mobile.svg");
    width: 30%;
    top: 350px;
  }
}